<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
            "http://www.w3.org/TR/REC-html40/loose.dtd">

  <html>

    <head>
      <meta	http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	  <title>Abora Search: <!--cgi: query_str--></title>
    </head>

    <body>

      <table width="100%" bgcolor="antiquewhite">
	<tr>
	  <td>

      <h1>Abora Search:	<!--cgi: query_str--></h1>
		</td>
	  <td align="right">
	  <FORM ACTION="http://www.abora.org/cgi-bin/ksearch/ksearch.cgi" METHOD="GET" NAME="search">
<INPUT TYPE="text" NAME="terms" VALUE="<!--cgi: query_str-->">
	  <INPUT TYPE="submit" VALUE="Search">
</FORM>
	  
	 	  </td>
	   </tr>
      </table>

	<table width="100%">
		<tr>
		<td valign="top"><table width="100%">
		<tr><td>

		<p><!--cgi: header--></p>

	<table width="95%" cellpadding="5" cellspacing="0" border="0" align="center"><td> 
		<table cellpadding="0" cellspacing="0" border="0" align="center"><td>
			<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
			<!--cgi: previous--> <!--cgi: navbar--> <!--cgi: next-->
			</font>
		</td></table>
	</td></table>
	</center>
</p>
	<table width="95%" border="0" align="center"><td>
		<!--loop: results-->
		<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
		<dl><b><!--item: rank-->. &nbsp; <a href="<!--item: url-->"><!--item: title--></a></b>
		<ul><dt><!--item: description-->
		<font size="1" color="#000000" face="verdana, arial, helvetica, sans-serif">
		<a href="<!--item: url-->"><!--item: display_url--></a><br>
		<!--item: scoreA--> &nbsp; <!--item: scoreB--> &nbsp; <!--item: scoreC--> &nbsp; <!--item: scoreD-->
		</font></dt></ul>
		</dl>
		</font>
		<!--end: results-->
	</td></table>
<center>      
<p>
	<table width="95%" cellpadding="5" cellspacing="0" border="0" align="center"><td> 
		<table cellpadding="0" cellspacing="0" border="0" align="center"><td>
			<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
			<!--cgi: previous--> <!--cgi: navbar--> <!--cgi: next-->
			</font>
		</td></table>
	</td></table>
</p>
<a name="form">
<p>
	<table cellpadding="10" cellspacing="0" border="1"><td align="center">
		<form action="<!--cgi: search_url-->" method="get" name="search">
		<input type="text" size=35 name="<!--cgi: input_name-->" value="<!--cgi: query_str-->" onFocus="select(this);">
		&nbsp; <INPUT type="submit" value="Search">
		<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif"><b> <!--cgi: add_plus--> &nbsp; <!--cgi: tips--></b></font>
		<p>
		<table border="0" cellpadding="5" cellspacing="0">
			<tr><td valign=top>
				<table border="0" cellpadding="1" cellspacing="0">
					<tr><td align=left><font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif"><!--cgi: subsearch--></font></td>
					<tr><td align=left><font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif"><!--cgi: c--></font></td>
					<tr><td align=left><font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif"><!--cgi: w--></font></td>
					<tr><td align=left><font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif"><!--cgi: st--></font></td>
				</table></td>
			<td valign=top>
				<table border="0" cellpadding="3" cellspacing="0">
					<tr><td valign="top" align="left">
						<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
						Sort by <select name="sort"><!--cgi: sort--></select>
						</font>
					</td>
					<tr><td valign="top" align="left">
						<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
			               		Display <select name="display"><!--cgi: display--></select>
						</font>
					</td>
				</table>
			</td>
			<tr><td align="left" colspan="2"><br><font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif"><b>Search Content</b></font></td>
			<tr><td align="left" colspan="2">
				<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
				<!--cgi: b-->
				<!--cgi: t-->
				<!--cgi: u-->
				<!--cgi: alt-->
				<!--cgi: l-->
				<!--cgi: default-->
				</font>
			</td>
			<tr><td align="left" colspan="2">
				<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
				<!--cgi: d-->
				<!--cgi: k-->
				<!--cgi: au-->
				</font>
			</td>
			<tr><td align="left" colspan="2">
				<font color="#000000" size=2 face="verdana, arial, helvetica, sans-serif">
				<!--cgi: show_matches-->
				</font>
			</td>
		</table>
		</p>
		</form>
	</td></table>
</p>
</center>
<br>

		</td></tr></table>
		<td valign="top" width="1%">
		<table width="100%">
		<tr><td align="right">
			<b>Abora&nbsp;Project</b><br>
			<a href="/index.html">Home</a><br>
			<a href="/features.html">Features</a><br>
			<a href="/screenshots.html">Screenshots</a><br>
<!--			<a href="features.html">Features</a><br> -->
<!--			<a href="why.html">Why</a><br> -->
			<a href="/author.html">Author</a><br>
			<a href="/acknowledgements.html">Thanks</a><br>
			<a href="/links.html">Links</a><br>
		</td></tr>
		<tr><td align="right">
			<b>SourceForge</b><br>
			<a href="http://sourceforge.net/projects/abora/">Summary</a><br>
			<a href="http://sourceforge.net/news/?group_id=64700">News</a><br>
			<a href="http://sourceforge.net/mail/?group_id=64700">Lists</a><br>
			<a href="http://sourceforge.net/project/showfiles.php?group_id=64700">Downloads</a><br>
	  </td></tr>
	  <tr><td align="right">
	  		<b>Abora-White</b><br>
	  		<a href="/abora-white/index.html">Overview</a><br>
	  		<a href="/abora-white/tech.html">Tech&nbsp;Docs</a><br>
	  		<a href="/abora-white/porting.html">Port&nbsp;Details</a><br>
	  		<a href="/abora-white/api/index.html">JavaDoc</a><br>
	  		<a href="/abora-white/junit/html/index.html">JUnit&nbsp;Report</a><br>
	  		<a href="/abora-white/clover/index.html">Clover</a>/<a href="/abora-white/clover-historical/historical.html">History</a><br>
	  	</td></tr>
	  	<tr><td align="right">
	  		<b>UGold2Java</b><br>
	  		<a href="/udanax-gold2java/index.html">Overview</a><br>
	  		<a href="/udanax-gold2java/abora-gold/api/index.html">Gold&nbsp;JavaDoc</a><br>
	  	</td></tr>
	  	<tr><td align="right">
	  		<b>Dolphin&nbsp;Demo</b><br>
	  		<a href="/dolphin-demo/index.html">Overview</a><br>
	  		<a href="/dolphin-demo/tech.html">Tech&nbsp;Docs</a><br>
	  	</td></tr>
		</table>
		</td></tr>
		</table>

<hr>

      <table width="100%">
	<tr><td><font color="gray">
		Copyright 2002-2003 <a href="mailto:david_jones@night.dircon.co.uk">David G Jones</a>. All rights reserved<br>

$Id$

		</font>
	  </td>
	  <td align="right">
	  		  <a href="http://sourceforge.net"><img src="http://sourceforge.net/sflogo.php?group_id=64700&amp;type=1" width="88" height="31" border="0" alt="SourceForge.net Logo"></a>
	  </td>
	</tr>
      </table>    

</body>
</html>

