h1,h2,h3 { color: black; background-color: #FAEBD7;  }

body { background-color: #FFFFFF; }

.draft { background-image: url(draft.gif); }

.new { color: white; background-color: red; }

.st-code { background-color: #F5F5DC; margin-left: 2.0em; }
.st-message { color: #0000CD; }
.st-literal { color: #C71585; }
.st-comment { color: #008000; font-style: italic; }

a:link { }
a:visited {  }
a:hover {background-color: #FAEBD7; }
